@media (min-width: 960px) {
    .v-container {
        max-width: 900px !important;;
    }
    .c-container {
        max-width: 900px !important;
    }
}
@media (min-width: 1280px) {
    .v-container {
        max-width: 1000px !important;;
    }
    .c-container {
        max-width: 1000px !important;
    }
}
@media (min-width: 1920px) {
    .v-container {
        max-width: 1400px !important;;
    }
    .c-container {
        max-width: 1200px !important;
    }
}
@media (min-width: 2560px) {
    .v-container {
        max-width: 1800px !important;
    }
    .c-container {
        max-width: 1400px !important;
    }
}

.c-container {
    width: 100%;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.custom-shadow {
    box-shadow: rgb(238, 238, 238) 0px 0px 6px !important;
}